<% if (totalPages > 1) { %>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>">&laquo;</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                <%= i %>
            </a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>">&raquo;</a>
        <% } %>
    </div>
<% } %>