<%- include('../../partials/header.ejs', { activePage: 'readers' }) %>
<main>
    <h2>Edytuj czytelnika</h2>
    <form class="edit-form" action="/reader-edit/<%= reader.id_reader %>" method="POST">
        <label for="firstname">Imię:</label>
        <input type="text" id="firstname" name="firstname" value="<%= reader.first_name %>" required>

        <label for="lastname">Nazwisko:</label>
        <input type="text" id="lastname" name="lastname" value="<%= reader.last_name %>" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= reader.email %>" required>

        <label for="phone">Telefon:</label>
        <input type="tel" id="phone" name="phone" value="<%= reader.phone %>" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required>

        <div class="action-buttons">
            <button type="submit" class="submit-button">Zapisz Zmiany</button>
            <a href="/reader-details/<%= reader.id_reader %>" class="cancel-button">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../partials/footer.ejs') %>
