<%- include('../../partials/header.ejs', { activePage: 'readers' }) %>
<main>
    <h1>Czytelnicy</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% readers.forEach(reader => { %>
            <tr>
                <td><%= reader.id_reader %></td>
                <td><%= reader.first_name %></td>
                <td><%= reader.last_name %></td>
                <td>
                    <a href="/reader-details/<%= reader.id_reader %>" class="details-button">Szczegóły</a>
                    <a href="/reader/delete/<%= reader.id_reader %>" class="delete-button">Usuń</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <a href="/reader-form" class="submit-button">Dodaj Nowego Czytelnika</a>
</main>
<%- include('../../partials/footer.ejs') %>
