<%- include('../../partials/header.ejs', { activePage: 'borrowings' }) %>
<main>
    <h2>Wypożyczenie #<%= borrowing.id_borrow %></h2>
    <table class="borrowing-info-table">
        <tr>
            <th>Imię i Nazwisko</th>
            <td><%= borrowing.reader_first_name + " " + borrowing.reader_last_name %></td>
        </tr>
        <tr>
            <th>Tytuł Książki</th>
            <td><%= borrowing.book_title %></td>
        </tr>
        <tr>
            <th>Data Wypożyczenia</th>
            <td><%= new Date(borrowing.borrow_date).toLocaleDateString() %></td>
        </tr>
        <tr>
            <th>Data Zwrotu</th>
            <td><%= borrowing.return_date ? new Date(borrowing.return_date).toLocaleDateString() : 'Brak' %></td>
        </tr>
    </table>

    <div class="action-buttons">
        <a href="/borrowings" class="cancel-button">Powrót do listy</a>
        <a href="/borrowings/edit/<%= borrowing.id_borrow %>" class="edit-button">Edytuj Wypożyczenie</a>
    </div>
</main>

<%- include('../../partials/footer.ejs') %>
