<%- include('../../partials/header.ejs', { activePage: 'borrowings' }) %>
<main>
    <h2>Edytuj Wypożyczenie</h2>
    <form class="edit-form" action="/borrowings/edit/<%= borrowing.id_borrow %>" method="POST">

        <label for="reader">Czytelnik:</label>
        <select id="reader" name="id_reader" required class="input-field">
            <% readers.forEach(reader => { %>
                <option value="<%= reader.id_reader %>" <%= reader.id_reader === borrowing.id_reader ? 'selected' : '' %>>
                    <%= reader.first_name %> <%= reader.last_name %>
                </option>
            <% }) %>
        </select>

        <label for="book">Książka:</label>
        <select id="book" name="id_book" required class="input-field">
            <% books.forEach(book => { %>
                <option value="<%= book.id_book %>" <%= book.id_book === borrowing.id_book ? 'selected' : '' %>>
                    <%= book.title %>
                </option>
            <% }) %>
        </select>

        <label for="borrow_date">Data Wypożyczenia:</label>
        <input type="date" id="borrow_date" name="borrow_date" value="<%= borrowing.borrow_date %>" required class="input-field">

        <label for="return_date">Data Zwrotu:</label>
        <input type="date" id="return_date" name="return_date" value="<%= borrowing.return_date || '' %>" class="input-field">

        <div class="action-buttons">
            <button type="submit" class="submit-button">Zapisz Zmiany</button>
            <a href="/borrowings/details/<%= borrowing.id_borrow %>" class="cancel-button">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../partials/footer.ejs') %>
