<%- include('../../partials/header.ejs', { activePage: 'borrowings' }) %>

<main>
    <h2>Lista Wypożyczeń</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Imię i Nazwisko</th>
            <th>Tytuł Książki</th>
            <th>Data Wypożyczenia</th>
            <th>Data Zwrotu</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <tbody>
        <% for (let borrow of borrowings) { %>
            <tr>
                <td><%= borrow.reader.first_name + " " + borrow.reader.last_name %></td>
                <td><%= borrow.book.title %></td>
                <td><%= borrow.borrow_date %></td>
                <td><%= borrow.return_date || 'Brak' %></td>
                <td>
                    <a href="/borrowings/details/<%= borrow.id_borrow %>" class="details-button">Szczegóły</a>
                    <form action="/borrowings/delete/<%= borrow.id_borrow %>" method="POST" style="display: inline;">
                        <button type="submit" class="delete-button">Usuń</button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/borrowings/add" class="submit-button">Dodaj nowe wypożyczenie</a></p>
</main>

<%- include('../../partials/footer.ejs') %>
