<%- include('../../partials/header.ejs', { activePage: 'books' }) %>
<main>
    <h2 id="book-title"><%= book.title %></h2>
    <table class="book-info-table">
        <tr>
            <th>Tytuł</th>
            <td id="book-title"><%= book.title %></td>
        </tr>
        <tr>
            <th>Autor</th>
            <td id="book-author"><%= book.author %></td>
        </tr>
        <tr>
            <th>Rok Publikacji</th>
            <td id="book-year"><%= book.publication_year %></td>
        </tr>
        <tr>
            <th>Gatunek</th>
            <td id="book-genre"><%= book.genre %></td>
        </tr>
        <tr>
            <th>Opis</th>
            <td id="book-description"><%= book.description %></td>
        </tr>
    </table>

    <div class="action-buttons">
        <a href="/books" class="cancel-button">Powrót do listy</a>
        <a href="/books/edit/<%= book.id_book %>" class="edit-button">Edytuj Książkę</a>
    </div>

    <h2>Szczegóły Wypożyczeń</h2>
    <% if (borrowings.length > 0) { %>
        <table class="table-list">
            <thead>
            <tr>
                <th>Imię i Nazwisko</th>
                <th>Data Wypożyczenia</th>
                <th>Data Zwrotu</th>
            </tr>
            </thead>
            <tbody>
            <% for (let e of borrowings) { %>
                <tr>
                    <td><%= e.reader_first_name %> <%= e.reader_last_name %></td>
                    <td><%= new Date(e.borrow_date).toLocaleDateString('pl-PL') %></td>
                    <td>
                        <%= e.return_date ? new Date(e.return_date).toLocaleDateString('pl-PL') : 'Brak' %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } else { %>
        <p>Brak wypożyczeń dla tej książki.</p>
    <% } %>
</main>
<%- include('../../partials/footer.ejs') %>

